fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic[email]
pydantic-settings
celery
redis
httpx
beautifulsoup4
playwright
weasyprint
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
sib-api-v3-sdk
psycopg2-binary
requests
python-dotenv
email-validator
python-multipart
pypdf
python-docx
